// Import all the mixins for this theme
@import "addons.scss";
@import "dashboard";

.dashboard {
  // Output the actual theme selectors
  @include addons;
  @include dashboard;
}

// my css
.dashboard .valo-menu-title {
  background: #FC4C02;
  border-bottom-color: white;
}

.dashboard .valo-menu-item:focus, .dashboard .valo-menu-item.selected {
  color: #FC4C02;
}

.dashboard .v-menubar-user-menu .v-menubar-menuitem:hover {
  color: white;
}

.dashboard .v-button-primary {
  color: white;
  background: #FC4C02;
  box-shadow: none;
  border: none;
}

.dashboard .v-label-colored {
  color: #FC4C02;
}

.backgroundimage {
  background: url("img/login.png") !important;
}
